body {
  padding-top: 50px;
}

.main-view {
  padding: 40px 15px;
  text-align: center;
}

a.active {
  color: white;
}

.weather__location,
.weather__remove {
  display: inline-block;
}

.weather__location {
  width: 80%;
}
.weather__remove {
  padding-top: 3rem;
  vertical-align: top;
  width: 15%;
}
